<div class="row justify-content-md-center">
      <div class="card col-md-8">
        <div class="card-header" style="
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    ">
          <h4>Trying to create</h4>
          <h6>Sun Dec 05 2021 15:27:34 GMT-0500 (Eastern Standard Time)</h6>
        </div>
        
        <div class="card-body">
          
          <p class="card-text">asdfasdfasdf</p>
          
        </div>
      </div>
    </div>