a{
    text-decoration: none;
    color:black;
}

.card{
    margin:4px;
    padding:0px;
    border: 1px solid lightcoral;
}

.new-post-button{
    background-color: #0d6efd;
}

.comments{
    margin:4px;
}

h1{
    text-align: center;
}

.card-header{
    background-color: lightcoral;
}

.navbar{
    background-color: lightgrey;
}

nav{
    padding:0px;
    background-color: lightgrey;
}